
.card {

    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
  border-radius: 25px;
}
.row {
  position: relative;
  display: flex;
}

.carousel-item.active{
  display: flex ;
}
