{% extends 'base.html' %}
{% block title %}Checkout-Book Trekker{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'ecomapp/css/cart.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <h3>Items in the cart</h3>
        <p>Want to update cart ?</p><a style="color:greenyellow" href="{% url 'ecomapp:mycart' %}"> Click Here</a>
            <table class="table" style="color:blue;">
                <thead>
                    <tr>
                        <th>Sn</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>SubTotal</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="4" class="text-right">Total</th>
                            <th>Rs. {{cart.total}}</th>
                        </tr>
                        </tbody>
                        </table>

                    </div>
        <div class="col-md-6">
            <h3>Checkout form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <b style="color:blue;">{{form.as_p}}</b>

                <button class="btn btn-primary">Place Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
