

    {% extends 'base.html' %}
    {% block title %}
    Contact-Book Trekker
    {% endblock %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecomapp/css/cart.css' %}">
    <style >
        .errorlist{
            color:green;
            
    
        }
            </style>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <img   src="/media/products/logo.png" alt="logo" width="200" height="100">
                    <h2 > Contact Us </h2><hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                       <p> <b>{{form.as_p}}</b></p>
                        <button class="btn btn-info">Contact Us</button>
                        {% if error%}
                        <list style="color:red; background-color:white" >{{error}}</list>
                        {% endif %}
                    </form>
                
                  </div>

            </div>
        </div>
    {% endblock %}
    

