{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content  %}
{% load static %}

<link rel="stylesheet" href="{% static 'ecomapp/css/contactus.css' %}">
 <div class="container">
   	<div class="front side">
   		<div class="content"><h1>WE VALUE YOUR OPINION</h1>
			<p class="my-3">We are constantly looking forward to improve ourself and are willing to look at every problem for both of our sake!
        Please feel free to drop any comments you have
			</p>
      <i class="fa fa-instagram" style="font-size:48px;color:red"></i>
		</div>
	</div>


	<div class="back side">
    <div class="content">
      <b> <h3 class="my-3" ">Contact Us Regarding any Problems!!</h3></b>
      <form action="" method="POST">
          {% csrf_token %}
         <p> <b style="color: black;">{{form.as_p}}</b></p>
          <button class="btn btn-danger">Submit Query</button>
          {% if error%}
          <list style="color:red; background-color:white" >{{error}}</list>
          {% endif %}
      </form>

 </div>
</div>
</div>
    {% endblock %}
