{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'ecomapp/css/cart.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
<h4 style="color:black">Password reset link is sent to your email address. Please check your email immediately. </h4>
            {% else %}
            <h3 style="color: black;">Enter your email used in while making account.</h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong, please enter your email again.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <b style="color: black;">{{form.as_p}}</b>
                <button class="btn btn-danger"> Get Reset Link</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
