{% extends 'base.html' %}
{% block title %}My Dashboard       {% endblock %}
{% block content  %}
{% load static  %}


<link rel="stylesheet" type="text/css" href="{% static 'ecomapp/css/style.css' %}"/>
<!-- {% load static %} -->
<!-- {% if not orders %}
<h5 style="color:red">You don't have place any order before</h5>
{% else %}
<hr>
<h3>My ordered books </h3>
   {% for ord in orders %}
   {% for q in ord.cart.cartproduct_set.all %}
        <img src="{{q.product.image.url}}" alt="">
        {% endfor %}
        {% endfor %}



{% endif %}  -->
<link rel="stylesheet" href="{% static 'ecomapp/css/category.css' %}">

 <div class="container">
<h3>My Purchased Books</h3>
     <hr>
     <div class="row">
        {% for ord in orders %}
        {% for q in ord.cart.cartproduct_set.all %}
        <div class="col-md-3  card">
            <div class="m-4">
        <h4>{{q.product.title}}</h4>
        <img class="check" src="{{q.product.image.url}}" alt="" class="img-fluid">
    </div>
    </div>
        {% endfor %}
        {% endfor %}
     </div>
 </div>

 <link rel="stylesheet" href="{% static 'ecomapp/css/category.css' %}">



         <div id="paypal-button-container"></div>
         <!-- Sample PayPal credentials (client-id) are included -->
 <script src="{% static 'ecomapp/js/hello.js' %}"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD&intent=capture&enable-funding=venmo"></script>
    <script src="{% static 'ecomapp/js/checkout.js' %}"> </script>


    <section class="section">
        <div class="container">
          <button class="button is-primary" id="submitBtn">  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button">
                data-key="{{ key }}"
                data-description="Payment Gateway"
                data-amount="500"
                data-locale="auto"
            </script></button>
        </div>
      </section>
  {% endblock %}
