{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content  %}
{% load static %}
<link rel="stylesheet" href="{% static 'ecomapp/css/cart.css' %}">
<div class="container">
    <hr>
    <h2 style="color:black ;">Book Trekker Password Reset Form</h2>
    <hr>
    <br>
    
    <div class="row">
        <div class="col-md-8">
            <form action="" method="POST">

            {% csrf_token %}
          <b style="color: black;"> {{form.as_p}}</b>
          <br>
            <button class="btn btn-danger mx-2">Reset Password </button>
            </form>
            </div>
        </div>
    </div>
    {% endblock %}
