<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'ecomapp/css/cart.css' %}">
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Book Trekker Registration Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

	<section class="h-100" >
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<!-- <div class="text-center my-5 mb-1 mt-4 ">
						<img src='/media/shop/images/logo.png' alt="logo" width="200" height="100">
					</div> -->
					<!-- <div class="card shadow-lg"> -->


						<div class="card-body p-5 padding: 3rem">
							<div class="align-items-center d-flex">
							<h1 class="fs-4	 mb-4 "><b>Upload Book Information</b> </h1>
								</div>
							<form action="{% url 'ecomapp:home' %}" method="POST"   >
								{% csrf_token %}
									<div class="row">
									<div class="mb-3">
									<div class="row">
									 <div class="col-3 col-sm-6" >
                              		<label class="mb-2 p-0 " for="bookname"><b>Title</b></label>
                             		<input id="title" type="text" class="form-control" name="title" value="" required>
									 </div>

									<div class="col-3 col-sm-6" >
                              		<label class="mb-2 p-0" for="category"><b>Category</b></label>
									<input id="category" type="text" class="form-control" name="category" value="" required>
									 </div>


									<div class="col-3 col-sm-6" >
									<label class="mb-2 my-2 " for="description"><b>Slug</b></label>
									<input id="description" type="text" class="form-control" name="slug" value="" required autofocus>
									</div>

                                    <div class="col-3 col-sm-6" >
                                    <label class="mb-2 my-3" for="uploadimage"><b>Upload Image</b></label>
                                    <input type="file" name="uploadimage" >
                                    </div>

									<div class="col-3 col-sm-6" >
										<div class="mb-3 mx-2">
									<label class="mb-2 my-2 mx-1" for="markedprice"><b>Marked Price</b></label>
									<input id="markedprice" type="number" class="form-control mb-2 mx-1" name="markedprice" >
										</div>
									</div>

                                    <div class="col-3 col-sm-6" >
										<div class="mb-3 mx-2">
									<label class="mb-2 my-2 mx-1" for="sellingprice"><b>Selling Price</b></label>
									<input id="sellingprice" type="number" class="form-control mb-2 mx-1" name="sellingprice" >
										</div>
									</div>


                                        <div class="col-3 col-sm-6" >
                                            <div class="mb-3 mx-2"></div>
                                        <label class="mb-2 my-2 " for="description"><b>Description</b></label>
                                        <input id="description" type="text" class="form-control" name="description" value="" required autofocus>
                                        </div>


                                            <div class="col-3 col-sm-6" >
                                                <div class="mb-3 mx-2"></div>
                                                    <label class="mb-2 my-2 " for="warranty"><b>Warranty</b></label>
                                            <input id="warranty" type="text" class="form-control" name="warranty" value="" required autofocus>
                                            </div>


                                                <div class="col-3 col-sm-12" >
                                                <label class="mb-2 my-2 " for="returnpolicy"><b>Return Policy</b></label>
                                                <input id="warranty" type="text" class="form-control" name="returnpolicy" value="" required autofocus>
                                                </div>





								<p class="text-danger">
									By uploading you agree with our terms and condition.
								</p>
                                <div class="text-center">
								<div class="align-items-center ">

<!--									<button type="submit" class="btn btn-primary ms-auto">-->
<!--										Register-->
<!--									</button>-->
									<button class="btn btn-primary ms-auto my-3" type="submit">Upload Book </button>

								</div>
								</div>
							</form>
						</div>

						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Go Back to Bookshop? <a href="/" class="text-blue">The Book Trekker</a>
							</div>
						</div>
					<!-- </div> -->

				</div>
			</div>
		</div>
	</section>

</body>
</html>
